.container{
	background-color: rgba(10,23,55,0.5);
	width: 353px;
	height: 550px;
	margin: auto;
    border-radius: 10px;
}
.padding{
	padding: 10px;
}
#jogo{
	width: 303px;
	height: 300px;
	border: solid 1px;
	margin: auto;
	background-color: rgba(10,23,55,0.5);
}
#resultado{
	font-size: 15px;
	color:white;
	margin: auto;
	text-align: center;
	width: 303px;
}
.linha{
	height: 100px;
	border-bottom: solid 1px #000;
}
.casa{
	width: 100px;
	height: 100%;
	border-right: solid 1px #000;
	float: left;
}
body{
	background-image: url("fundo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	width: 303px;s
}
.bt{
border-radius:4px;
cursor:pointer;
font-weight:bold;
font-size:13px;
padding:6px 10px;
border: none;
}
.bt-vm{
border-color:none;
background:linear-gradient(to bottom, #228B22 5%, #0000CD 100%);
box-shadow:inset 0px 1px 0px 0px #fff4f3;
color:#fff;
text-shadow:0px 1px 0px #528009; 
}
.bt:active{
position:relative;
top:2px;}